 .content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-us{
    width: 100%;
    padding: 20px 0px;
    background-color: #eef6fb;
    margin-top: 50px;
    
}

.contact-us p{
    font-size: 22px;
    color: #0b5fa5;
    font-weight: bold;
    margin-left: 150px;
}

.contact-us span{
    color: #45caf6;
    font-size: 22px;
    font-weight: bold;
}

.contact-us h1{
    color: #0b5fa5;
    font-size: 45px;
    margin-left: 150px;
}

.container {
    width: 100%;
    padding: 20px 0;
    background-color: #45caf6;
}

.text {
    width: 100%;
    /* padding: 0 0; */
    background-color: white ;
    display: flex;
    justify-content: center; 
    align-items: center;    
 
}

.title {
    width: 600px;
    /* padding: 20px; */
    background-color: white;
    align-items: center;
    justify-content: center;
}

.title p{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;

}

.line {
    width: 70%;
    height: 4px;
    background-color: #45caf6;
    margin-left: 90px;
}



.price {
    width: 1100px;
    padding: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.price h3 {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #0b5fa5;

}

.price p {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

