@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: gray;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    background-color: rgb(238, 238, 238);
    margin: 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu img{
    width: 150px;
}
.menu-bar{
    /* background-color: rgb(213, 213, 213); */
    margin: auto;
}
.menu-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-bar ul li{
    display: inline-block;
    margin: 20px;
    font-size: 18px;
}           
.menu-bar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}